.navbar-brand img {
      height: 40px;
    }
    .nav-link {
      color: #4a4a4a !important;
    }
    .btn-login {
      border: 1px solid #ddd;
      background: #fff;
      color: #007bff;
    }
    .btn-login:hover {
      background-color: #f8f9fa;
    }



/* 04-06-2025 ko likha gaya code */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* .navbar{
  background-color: #f8f9fb !important;
} */

.nav-link {
  color: #6b6c74 !important;
  font-weight: 550 !important;
  font-size: 18px !important;


}

.get-started{
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  background: linear-gradient(93deg, #52dd86 0%, #21cb91 100%);
}

.btn-login {
  border: 1px solid #ddd;
  background: #fff;
  color: #007bff;
}

/* Start slider Caption */

.carousel-caption {
  width: 28vw;
  height: 33vh;
  margin: 8vh 5vw;
  /* color: #000; */
  border: 1px solid black;
}

.heading{
  width: 24vw;
  position: absolute;
  font-size: 2.8rem;
  text-align: left;
  top: 2vh; 
  left: 3vw;
  color: #0c48a9;

}

.tcolor{
  color: #00C853;
  text-decoration: none;
  font-size: 2.7rem !important;
}
