/* Navbar Custome Css Start here */
/* *{
  outline: red solid 2px;
} */
.navbar-brand img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.nav-link {
  font-weight: 700;
  color: #585d6d !important;
  font-size: 17px;
  margin-right: 2rem;
  font-family: "Roboto", sans-serif !important;
}



.cnct-head{
  font-family: "Roboto", sans-serif !important;
  color: #696e82 !important;
  font-size: 14px !important;
}

.cnct-sub-head{
  font-size: 20px!important;
  color: #1e6ce7 !important;
  font-weight: 650!important ;
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
}

.call-number {
  color: #1e6ce7 !important;
  font-size: 1.25rem;
  font-weight: 600;
}
.get-started {
  background: linear-gradient(90deg, #2fd07e 0%, #3edfa0 100%);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(46, 213, 115, 0.08);
}

.get-started:hover{
  background: whitesmoke;
  border: green 2px solid !important;
  color: black !important;
}

.arrow{
   height: 30px !important;
  font-size: 18px;
  font-weight: 700 !important;
}
                                 
/* Slier custome styles starts here */
.slide-headings{
  font-family: "Roboto", sans-serif;
  font-size: 2.9rem;   
   line-height: 2.9vw;
   font-style: normal;
   font-weight: 400 !important;
   color: #0a4bb4 !important;
}

.sub-slide{
  font-family: "Roboto", sans-serif !important;
  font-size: 1.1rem; 
  font-weight: 450;
  color: #5d6d75 !important;
}

.pic{
  width: 100vw !important;
  background-color: #f8f9fb !important;
}

/* Main body css Starts here */

.container-text{
  /* max-width: 100%; */
  font-size: 0.93rem !important;
  color: #939596 !important;
  line-height: 25px !important;
  letter-spacing: 0px !important;
  font-family: "Mulish", sans-serif !important;   
  font-weight: 600 !important;
}

.anchor-color{
  text-decoration: none;
  color: #3b94ed;
  font-weight: 700;
  font-size: 1rem;
}

.bold{
   color: #4b4949 !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.terms{
  color: #3b94ed;
  font-weight: 600;
  font-size: 18px;
  font-family: "Mulish", sans-serif !important;   
  margin-top: 30px !important;
}

/* Simple Cards Start here */
.card-custom {
  /* width: 100%; */
  width: 310px !important;
  height: auto;
  max-height: 185px;
  background-color: #f8f9fb;
  gap: 15px !important;
}

.card-image {
  height: 50px;
  margin-bottom: 10px;
}



/* Referral-form custome css start here */

.refer-fluid-bg{
  height: auto;
}

.title{
  color: #305481;
  font-size: 30px;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
}

.referral-caption{
  color: #305481;
  font-size: 25px;
  font-family: 'Helvetica', 'Arial', sans-serif;

}

.container-brdr{
  border: 1px solid #b2ccf3; 
  border-radius: 8px; 
}

/* discription card section start here */

.second-card-heading {
  font-size: 25px;
  color: #394987;
  font-family: "Mulish", sans-serif;
}

.second-card-sub-heading {
  font-size: 18px;
  color: #24252b;
  font-family: "Mulish", sans-serif;
}

.card-icon {
  width: 15px;
  height: 15px;
}

.card-user {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
}

.desc-heading {
  font-size: 20px;
  line-height: 35px;
  color: #485978;
  font-family: "Mulish", sans-serif;
}

.desc {
  font-size: 16.5px;
  font-weight: 600;
  line-height: 26px;
  color: #585d6d;
  font-family: "Mulish", sans-serif;
}

/* Poster block is start here */
.txt-disc-heading{
  color: #394987 !important;
  font-weight: 900 !important;
  font-family: "Mulish", sans-serif !important;
}

.txt-disc-para{
  font-weight: 400;
  line-height: 32px;
  color: #585d6d !important;
  font-family: "Mulish", sans-serif;
}

/* Limited companies cards and discription custome css start here  */
.ltd-head{
  font-size: 22px ;
  color: #3b74ff;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}

.cmpny-img{
  width: 454px;
  height: 232px;
}

.trade-cmpny{
  font-size: 22px;
  color: #25de9a;
  font-weight: 700;
  font-family: "Mulish",sans-serif;
}

.ltd-paragraph{
  font-size: 18px;
  line-height: 35px;
  color: #585d6d;
  font-family: "Mulish", sans-serif;
}

























































































































































































































































































































































































































/* Responsive bootstrap */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1310px;
    }
}
/* @media (min-width: 1480px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1425px;
    }
} */

@media (max-width: 991.98px) {
  .pos-left {
    flex-direction: column;
    align-items: flex-end !important;
    gap: 0.5rem !important;
  }
}

/* @media(min-width: 574px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 576;
  }
    .card-custome{
      display: flex;
      justify-content: center;
    }
}
 */


y
