.navbar-brand img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.nav-link {
  font-weight: 700;
  color: #585d6d !important;
  font-size: 17px;
  margin-right: 2rem;
  font-family: "Roboto", sans-serif !important;
}

.cnct-head{
  font-family: "Roboto", sans-serif !important;
  color: #585d6d !important;
  font-size: 14px;

}

.cnct-sub-head{
  font-size: 20px!important;
  color: #1e6ce7 !important;
  font-weight: 650!important ;
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
}

.call-number {
  color: #1e6ce7 !important;
  font-size: 1.25rem;
  font-weight: 600;
}
.get-started {
  background: linear-gradient(90deg, #2fd07e 0%, #3edfa0 100%);
  border: none;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(46, 213, 115, 0.08);
}



.arrow{
   height: 30px !important;
  font-size: 18px;
  font-weight: 700 !important;
}

.slide-headings{
  font-family: "Roboto", sans-serif;
  font-size: 2.9rem;   
   line-height: 2.9vw;
   font-style: normal;
   font-weight: 400;
   color: #0c48a9;
}

.second-group {
  gap: 1.25rem !important;
}

/* Responsive bootstrap */

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1310px;
    }
}
/* @media (min-width: 1480px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1425px;
    }
} */

@media (max-width: 991.98px) {
  .second-group {
    flex-direction: column;
    align-items: flex-end !important;
    gap: 0.5rem !important;
  }
}

.pos-left{
  position: absolute;
  top: 48%;
  left: 18%;
}

